KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=todos
KAFKA_GROUP_ID=notification-worker

REDIS_URL=redis://localhost:6379

SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=arulraj@vananam.com
SENDGRID_FROM_NAME=Todo App
